body {
  background-color: #020000;
  color: #F7FAF7;
  font-family: "Georgia", "Libre Baskervvile", serif, "DejaVu Sans", sans-serif;
  max-width: 120ch;
  margin: 0 auto;
  font-size: 16px;
}

h1 {
  line-height: 1.2;
  font-variant-caps: small-caps;
  font-size: 24px;
  text-align: center;
}

h2 {
  line-height: 1.2;
  font-variant-caps: small-caps;
  text-align: center;
  font-size: 18px;
}

h3 {
  font-variant-caps: small-caps;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
}

h4 {
  text-align: center;
  line-height: 1.2;
  font-size: 16px;
}

h5 {
  font-variant-caps: small-caps;
  text-align: left;
  line-height: 1.2;
  font-size: 16px;
}

p {
  line-height: 1.75;
}

p.c1 {
  text-align: center;
  font-weight: 700;
}

p.c2 {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
}

p.c3 {
  font-variant-caps: small-caps;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

p.c4 {
  text-align: right;
  max-width: 50ch;
}

p.c5 {
  font-weight: 600;
  text-align: center;
}

p.csmall {
  font-size: small;
  text-align: left;
  font-weight: 400;
  font-style: italic;
}

div.rsmall {
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #bdddb3;
}

td {
  font-size: small;
  padding-bottom: 5px;
  text-align: left;
  font-size: 16px;

}

td.ndash {
  font-size: small;
  padding-bottom: 5px;
  text-align: center;
  font-size: 16px;

}

a:active {
  color: #F2F1C4;
}

a:hover {
  text-decoration: underline;
  color: #F2F1C4;

}

nav {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.05em;
}